*{box-sizing:border-box; -webkit-box-sizing:border-box;}
body{font-size:14px;line-height:1.4;font-family: Arial,Helvetica Neue,Helvetica,sans-serif;}
.main{ max-width:700px; margin:50px auto;}
.tab-body{ line-height:1.7; color:#0f0f0f0; border:1px solid #ccc; padding:10px 20px; }
p{ margin-bottom:15px;}
.hide{ display:none;}
.logoplace{width:50px;height:50px;}
.show{ display:block;}
.tab-head > li { display: inline-block; vertical-align: middle; font-size: 16px; margin-right: 10px; padding: 5px; border-bottom: 3px solid transparent; cursor: pointer; position:relative; }
.tab-head > li:before{content:""; position:absolute; width: 0; height: 0; bottom:-9px; left:50%; margin-left:-6px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #ed1c23 transparent transparent transparent; display:none;}
.tab-head > li.active {color: #ed1c24;border-color: #ed1c24;}
.tab-head > li.active:before{ display:block;}
.tab-main, .sub-tab-main{border-top:1px solid #ccc; margin-top:-3px; padding-top:15px}
.tab-content{animation: show-smooth .3s ease-in-out;}

/*Lottery Number Generator*/
.submit{
  margin-bottom:10px;
}
button{
  padding:10px;
  background:#eee;
  border:solid 1px #ddd;
  font-size:18px;
  color:#555;
  cursor:pointer;
  outline:none;
}
button:hover{
  background:#999;
  color:#fff;
}
#numbers{
  font-size:18px;
  word-spacing: 10px;
  color:#555;
}
/*Lottery Number Generator End */

/*Tab Smoth css Start */
@-webkit-keyframes show-smooth {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes show-smooth {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes show-smooth {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show-smooth {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*.angkaraces span{
	padding:5px;
    border: solid 2px #000;
	border-radius:5px;
	background-color:#ffd40e;
	font-size:12px;
	font-weight:bold;
	color:#000;
}*/

.allraces tr th{
	padding:5px;
    border: solid 2px #000;
	border-radius:5px;
	background-color:#ffd40e;
	font-size:12px;
	font-weight:bold;
	color:#000;
}

.egtable tr th, .egtable tr td, .allraces tr th, .allraces tr td{
	border:2px solid black;
	border-collapse: collapse;
	padding: 5px;
}

.egtable tr td{
	font-weight:bold;
	font-style:italic;
	font-size:12px;
}
/*Tab Smoth css End */